<h1 class="text-center">Welcome to Geol'2 Diary</h1>
<div class="text-center">
</div>

<div class="card">
  <div class="card-header">
    Card Header
  </div>
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>


<button class="btn btn-primary">Click Me</button>
<button class="btn btn-primary">Primary Button</button>
<button class="btn btn-danger">Danger Button</button>